---
import Layout from "../layout/Layout.astro";
import ActivityList from "../components/ActivityList.astro";
import ActivityForm from "../components/ActivityForm.astro";
---
<Layout title="Atividades — CompassMe">
  <main style="padding: 1.5rem 1rem;">
    <ActivityList />
    <ActivityForm />
  </main>
</Layout>
